* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: #333;
}

li {
    list-style: none;
}

.row {
    display: flex;
    flex-wrap: wrap;
}

header {
    padding: 10px 12px;
    display: flex;
    width: 100%;
    height: 70px;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    z-index: 1;
    background: #f3f3f3;
}
header.sticky {
    background: rgba(255,255,255, 0.6);
}
.logo {
    flex: 1;
}

.menu {
    flex: 3;
    display: flex;   
}

.menu > li {
    padding: 0 12px;
    position: relative;
}

.menu > li:hover .sub-menu {
    visibility: visible;
    top: 45px;

}


.sub-menu {
    position: absolute;
    width: 200px;
    padding: 10px 0 20px 10px;
    border: 1px solid #ddd;
    visibility: hidden;
    top: 60px;
    z-index: 1;
    transition: all 0.3s ease;
}

.sub-menu ul {
    padding-left: 30px;
}
.sub-menu ul a {
    font-weight: normal;
    font-size: 12px;
}
.menu li a{
    font-size: 12px;
    font-weight: bold;
    display: block;
    line-height: 20px;
}

.others {
    flex: 1;
    display: flex;
}

.others > li {
    padding: 0 12px;
    position: relative;
}

.others > li::after {
    content: "";
    display: block;
    width: 1px;
    height: 80%;
    background: #ddd;
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
}



.others > li:first-child {
    position: relative;
}

.others > li:first-child input {
    width: 100%;
    border:  none;
    border-bottom: 1px solid #333;
    background: transparent;
    outline: none;
}

.others > li:first-child button {
    position: absolute;
    right: 10px;
    border: none;
}

/* Mobile nav */

.nav_bar-btn {
    width: 28px;
    height: 28px;
    color: #333;
    display: none;
    /* Thêm các thuộc tính chính giữa các dấu ngoặc nhọn */
    background-color: transparent;
    border: none;
    cursor: pointer;
}

.nav_bar-btn i {
    /* Thêm các thuộc tính chính giữa các dấu ngoặc nhọn */
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.nav_overlay {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(0,0, 0, 0.3);
    display: none;
    animation: fadeIn linear 0.2s;
}

.nav_menu {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    width: 320px;
    max-width: 100%;
    background-color: #fff;
    opacity: 0;
    transform: translateX(100%);
    transition: all linear 0.2s;
}

.nav_menu-list {
    margin-top: 24px;
    margin-left: 12px;
}

.nav_menu-list li {
    text-decoration: none;
    color: #000;
    display: block;
    padding: 8px 0;
    font-size: 1.4rem;
    
}




.nav_menu-list > li:nth-child(2):hover .nav_sub-menu {
    visibility: visible;
    opacity: 1;
    top: 90px;
}

/* Hiển thị .sub-menu-block và lùi các mục tiếp theo khi .nav_menu-list > li:nth-child(2) đang được hover */
.nav_menu-list > li:nth-child(2):hover ~ .sub-menu-block,
.nav_menu-list > li:nth-child(2):hover ~ .sub-menu-block {
    margin-top: 200px; /* Khoảng cách margin top bạn muốn */
    transition: ease 0.3s;
}


.nav_sub-menu {
    position: absolute;
    width: 200px;
    border: none;
    padding: 10px 0 10px 20px;
    top: 30px;
    visibility: hidden;
    opacity: 0;
    transition: all 0.3s ease;
    z-index: 1;
    
}

.nav_menu-close {
    font-size: 1.4rem;
    color: #333;
    position: absolute;
    top: 1rem;
    right: 1rem;
    width: 28px;
    height: 28px;
}

.nav_input{
    display: none;
}

.nav_input:checked ~ .nav_overlay {
    display: block;
}

.nav_input:checked ~ .nav_menu {
    transform: translateX(0);
    opacity: 1;
}
@media (max-width: 1000px) {
    .nav_bar-btn {
        display: block;
    }

    .menu {
        display: none;
    }

    .logo {
        flex: 2;
    }
    .others {
        flex: 1;
    }
}
@media (max-width: 600px){
    .nav_bar-btn {
        display: block;
    }

    .menu {
        display: none;
    }
    .logo{
        flex: 1;
    }
    .others{
        flex: 2;
    }
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

/* cart */
.cart {
    padding: 100px 0;
 }
 
 .cart_wrap {
     display: flex;
     justify-content: center;
     align-items: center;
 }
 
 .cart_top {
     height: 2px;
     width: 50%;
     background-color: #8c8888;
    
     display: flex;    
     justify-content: space-between;
     align-items: center;
     margin: 50px 0 100px;
 }
 .cart_top_item {
     width: 40px;
     height: 40px;
     border: 1px solid #656464;
     border-radius: 50%;
     display: flex;
     align-items: center;
     justify-content: center;
     background-color: white;
 }
 .cart_top_item i {
     color: #8c8888;
 }
 
 .cart_top_item:hover {
     border: 2px solid black;
 }
 .cart_top_item i:hover {
     color: black;
 }
 
 .cart_top_cart {
     background-color: white;
     border: 2px solid black;
 }
 
 .cart_top_cart i {
     color: black;
 }
 .cart_content {
    display: flex;
 }
 .cart_content_left {
     flex: 2;
     padding-right: 12px;
 }
 
 .cart_content_left table {
     width: 100%;
     text-align: center;
 }
 
 .cart_content_left table tr th {
     padding-bottom: 30px;
     border-bottom: 1px solid #333;
     font-family: var(--main-text-font);
     font-size: 12px;
     text-transform: uppercase;
     border-collapse: collapse;
 }
 
 .cart_content_left table td {
     padding: 20px 0;
     border-bottom: 1px solid #000;
 }
 
 .cart_content_left table p {
     font-size: 12px;
     font-family: var(--main-text-font);
     color: #000;
 }
 
 .cart_content_left table input {
     width: 30px;
 }
 
 .cart_content_left table span {
     display: block;
     width: 20px;
     height: 20px;
     border: 1px solid #ddd;
     cursor: pointer;
     margin: auto;
 }
 
 .cart_content_left table span:hover {
     background-color: red;
     border: 1px solid #000;
     color: white;
 }
 
 
 .cart_content_left td:first-child img {
     width: 130px;
 }
 
 .cart_content_left .color {
     width: 12px;
     height: 12px;
     background-color: #000;
     margin: auto; 
 }
 
 .cart_content_right {
     flex: 1;
     padding-left: 12px;
     border-left: 2px solid #ddd;
 }
 
 .cart_content_right table {
     width: 100%;
 }
 
 .cart_content_right table th {
     padding-bottom: 30px;
     border-bottom: 2px solid #ddd;
     font-family: var(--main-text-font);
     font-size: 12px;
     border-collapse: collapse;
     text-align: center;
     justify-content: center;
 }
 
 .cart_content_right table td {
     font-family: var(--main-text-font);
     font-size: 12px;
     padding: 6px 0;
     color: #333;
 }
 
 .cart_content_right table tr:nth-child(4) td {
     border-bottom: 2px solid #ddd;
 } 
 
 .cart_content_right table tr td:last-child {
     text-align: right;
 }
 
 .cart_content_right_text {
     margin: 20px 0;
     text-align: center;
 }
 
 .cart_content_right_text p {
     font-family: var(--main-text-font);
     font-size: 18px;
     color: #333;
 }
 .cart_content_right_button {
     text-align: center;
     align-items: center;
     
 }
 .cart_content_right_button button {
     padding: 0 18px;
     height: 35px;
     cursor: pointer;
     margin: 10px 5px;
 }
 
 .cart_content_right_button button:first-child {
     background-color: #ffffff;
     color: #000;
     border: 1px solid #000;
 }
 
 .cart_content_right_button button:first-child:hover {
     background-color: #dddddd;
     border: 2px solid #000;
     color: #333333;
     font-weight: bold;
 }
 
 
 .cart_content_right_button button:last-child{
     background-color: #000;
     color: #ffffff;
     border: 1px solid #ffffff;
 }
 
 .cart_content_right_button button:last-child:hover {
     background-color: #dddddd;
     color: #333333;
     border: 2px solid #000;
     font-weight: bold;
 }
 
 .cart_content_right_dangnhap p {
     font-family: var(--main-text-font);
     font-size: 12px;
     color: #333;
     font-weight: bold;
 }

 /*------------------delivery------------*/
.delivery {
    padding: 100px 0;
}

.delivery_wrap {
    display: flex;
    justify-content: center;
    align-items: center;
}

.delivery_top {
    height: 2px;
    width: 50%;
    background-color: #8c8888;
   
    display: flex;    
    justify-content: space-between;
    align-items: center;
    margin: 50px 0 100px;
}
.delivery_top_item {
    width: 40px;
    height: 40px;
    border: 1px solid #656464;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
}
.delivery_top_item i {
    color: #8c8888;
}

.delivery_top_item:hover {
    border: 2px solid black;
}
.delivery_top_item i:hover {
    color: black;
}

.delivery_top_map {
    background-color: white;
    border: 2px solid black;
}

.delivery_top_map i {
    color: black;
}

.delivery_content_left {
    width: 60%;
    padding-right: 12px;
    
}

.delivery_content_left p {
    font-family: var(--main-text-font);
    font-size: 12px;
    
}
.delivery_content_left label {
    font-family: var(--main-text-font);
    font-size: 12px;
    margin-bottom: 6px;
    display: block;
}
.delivery_content_left > p {
    font-weight: bold;
}

.delivery_content_left_dangnhap {
    margin-top: 12px;
    display: flex;
}

.delivery_content_left_dangnhap i {
    font-size: 12px;
    margin-right: 12px;
}  

.delivery_content_left_khachle {
    margin: 12px 0;
}

.delivery_content_left_khachle input {
    margin-right: 12px ;
}

.delivery_content_left_dangky {
    margin-bottom: 30px;
}

.delivery_content_left_dangky input {
    margin-right: 12px;
}

.delivery_content_left_input_top {
    justify-content: space-between;
}

.delivery_content_left_intput_top_item {
    width: calc(50% - 12px);
}

.delivery_content_left_intput_top_item input {
    width: 100%;
    height: 35px;
    border: 1px solid #dddddd;
    padding-left: 6px;
}

.delivery_content_left_intput_bottom input {
    width: 100%;
    height: 35px;
    border: 1px solid #dddddd;
    padding-left: 6px;
}

.delivery_content_left_button a {
    display: inline-block;
    font-family: var(--main-text-font);
    font-size: 12px;
    cursor: pointer;
    transition: all 0.3s ;
}

.delivery_content_left_button a:hover {
    color: red;
}
.delivery_content_left_button span {
    margin-right:  12px;
}

.delivery_content_left_button {
     justify-content: space-between;
     padding-top: 20px;
}

.delivery_content_left_button button {
    width: 200px;
    height: 35px;
    border: 2px solid black;
    padding: 6px 12px;
    cursor: pointer;
    transition: all 0.3s ease;
}

.delivery_content_left_button button:hover {
    background-color: black;
    color: #ffffff;
}

.delivery_content_right {
    width: 40%;
    padding-left: 12px;
    border-left: 2px solid #dddddd;
    height: auto;
}

.delivery_content_right table {
    width: 100%;
    font-family: var(--main-text-font);
    font-size: 12px;
    text-align: center;
}

.delivery_content_right table tr th:first-child {
    text-align: left;
}

.delivery_content_right table tr th {
    padding-bottom: 12px;
    border-bottom: 2px solid #dddddd;
}

.delivery_content_right table tr td {
    padding: 6px 0;
}

.delivery_content_right table tr td:first-child {
    text-align: left;
}

.delivery_content_right table tr:nth-child(4) td  {
    border-top: 2px solid #dddddd
}

/* ---------------payment-----------*/

.payment {
    padding: 100px 0;
}

.payment_wrap {
    display: flex;
    justify-content: center;
    align-items: center;
}

.payment_top {
    height: 2px;
    width: 50%;
    background-color: #8c8888;
   
    display: flex;    
    justify-content: space-between;
    align-items: center;
    margin: 50px 0 100px;
}
.payment_top_item {
    width: 40px;
    height: 40px;
    border: 1px solid #656464;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
}
.payment_top_item i {
    color: #8c8888;
}

.payment_top_item:hover {
    border: 2px solid black;
}
.payment_top_item i:hover {
    color: black;
}

.payment_top_money {
    background-color: white;
    border: 2px solid black;
}

.payment_top_money i {
    color: black;
}

.payment_content_left {
    width: 60%;
    padding-left: 12px;
    margin-right: 12px;
}

.payment_content_left p, label {
    font-size: 12px;
    font-family: var(--main-text-font);
}

.payment_content_left p {
   margin: 10px 0;
   font-size: 15px;
}
.payment_content_left_method_delivery {

    padding: 20px 12px;
    width: 100%;
    border: 2px solid #656464;
    border-radius: 24px 0;
    text-align: left;
    justify-content: center;

}

.payment_content_left_method_delivery_item label {
    margin-left: 10px;
    align-items: center;
    justify-content: center;

}

.payment_content_left_method_payment {
    padding: 20px 12px;
    width: 100%;
    border: 2px solid #333333;
    border-radius: 24px 0;
    text-align: left;
    justify-content: center;
}

.payment_content_left_method_payment p {
    color: red;
    font-style: italic;
}

.payment_content_left_method_payment_item {
    padding: 10px 0;
    text-align: left;
    justify-content: center;
    align-items: center;
}

.payment_content_right {
    flex: 1;
    padding-left: 12px;
    border-left: 1px #333333 solid;
    width: 40%;
}

.payment_content_right_button {
    display: flex;
    padding: 12px 0;
    border-bottom: 1px dashed #8c8888;
}

.payment_content_right_button input {
    height: 30px;
    width: 200px;
    margin-right: 100px;
    padding-left: 15px;
}

.payment_content_right_button button {
    height: 30px;
    width: 100px;
    background: #656464;
    color: white;
    cursor: pointer;
    border: none;
}

.payment_content_right_mnv {
    margin-top: 20px;
}

.payment_content_right_mnv select {
    height: 30px;
    width: 100%;
    color: #8c8888;
    padding-left: 12px;
}

.payment_content_right_payment {
    
    justify-content: space-between;
    margin-top: 50px;
}

.payment_content_right_payment button {
    height: 35px;
    width: 50%;
    padding: 0 15px;
    font-size: 12px;
    color: black;
    cursor: pointer;
}

.payment_content_right_payment button:hover {
    background-color: #000;
    color: #ffffff;
}

.payment_content_right_payment a {
    display: inline-block;
    font-family: var(--main-text-font);
    font-size: 12px;
    cursor: pointer;
    transition: all 0.3s ;
}

.payment_content_right_payment a:hover {
    color: red;
}
#linkButton_to_payment{
    width: 250px;
    padding-bottom: 55px;
}
/*---------------------------------app------------------------*/
.app-container {
    text-align: center;
    align-items: center;
    padding: 150px 0 50px 0;
    border-top: 3px solid black;
}
.app-google {
margin: 50px;
}
.app-google img {
height: 50px;
}
.app-container p {
line-height: 20px;
letter-spacing: 1px;
font-size: 17px;
color: black;
font-weight: bold;
}
.app-container input {
margin-top: 50px;
border: none;
border-bottom: 1px solid #000;
padding-bottom: 20px;
width: 400px;
text-align: center;
outline: none;
}
/*---------------------------------footer------------------------*/

.myh3{
    font-size: 25px !important;
    padding-bottom: 8px;
}
body, html {
    font-family: Arial !important;
    font-size: 15px !important; 
    color: #333 !important; 
}
.class{
    padding-bottom: 0px !important;
}